#app {
	text-align: center;
	min-height:100%;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

#error {
	height:10px;
}

#main {
	flex: 0 1 auto;
}

#quote {
	min-height:150px;
}

#symbol input {
	text-align: center;
}

#order input {
	width: 50px;
}

#portfolio #header {
	font-size: larger;
}

#portfolio hr {
	width: 100px;
}

#title {
	font-weight: bold;
}

td,th {
	text-align: center;
	padding: 10px;
}

fieldset {
	border: none;
}
