#app {
	text-align: center;
	min-height:100%;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

#weather {
	padding-top:25px;
	min-height:170px;
	flex: 0 1 auto;
}
#settings {
	flex: 0 1 auto;
}

fieldset {
	border: none;
}
